@media (max-width: 767px) {
    .aboutme__text p {
        font-size: 14px;
    }
}
    
@media (max-width: 767px) {
    .aboutme__list {
        padding-top: 3%;
    }
}
    
@media (max-width: 575.98px) {
        .section {
        padding: 1%;
    }
}

@media (max-width: 575.98px) {
            .column {
            width: 100%;
    }
}

@media (max-width: 575.98px) {
    .rowport{
    margin-right: 1%;
    margin-left: 1%;
    padding: 1%;
    gap: 1%;
    }
}

@media (max-width: 575.98px) {
    .ficanomeio {
    margin-right: auto;
    margin-left:13%;
    padding: 1%;
    gap: 1%;
    }
}

@media (max-width: 575.98px) {
    .margemdascoisas {
    margin-right: auto;
    margin-left:1%;
    padding: 1%;
    gap:0;
    }
}

@media (max-width: 575.98px) {
    .counter {
    margin-right: auto;
    margin-left:auto;
    padding: 0 0;
    gap:1%;
    
    }
}
