@import "_media";
@import "_variables";
@import "_footer";
@import "_aboutme";
@import "_portfolio";
@import "_sections";
@import "_resume";

/*index*/
article{
    text-align: center;
    padding: 5%;
    font-weight: 700;
}

.tamanho1{
    width: 80%;
    float: center;
}

.bg{
    background: #eee !important;
}

.ficanomeio{
    margin-left: 20%;

}


.iconservice{
    padding-top: 5%;
    padding-left: 5%;
}


  /*contador home */
.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.counter__count--title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.counter__count--text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
}

.margemdascoisas{
    padding-left: 10%;
    padding-right: 10%;
}

/*banner hero*/
.header__as_hero {
    position:relative;
    background-color:$alwaysblue;
    background-image: url('../images/fundo.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.header__as_hero--page {
    position:relative;
    background-color: $alwaysblue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}

.header__as_hero::before {
    content:'';
    width:100%;
    position:absolute;
    height:100%;
    background:rgba(2,2,2,.5);
}

.header__as_hero .header__as_hero--content {
    position:relative;
    z-index:99;
    padding:170px 0;
    background:transparent;
    border-radius:0;
    text-align: center;
}
.header__as_hero .header__as_hero--content h1, .header__as_hero .header__as_hero--content p {
    color:#fff;
}


/* services */

.card {
    margin-top: 50px;
    border: none
}

.head1 {
    font-weight: 900;
    font-size: 30px
}

.card-title {
    margin-bottom: .75rem;
    font-weight: 900;
    font-size: 15px;
    margin-top: 1.75rem;
}


.fa-angle-right {
    margin-left: 10px;
}

.fa-3x {
    color: $alwaysblue;
}

.card-content {
    padding-right: 40px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.card-content>p {
    color: #9E9E9E;
}

.heading {
    position: relative;
    top: 75px
}

.follow-text {
    color: #9E9E9E;
}

#client-testimonial-carousel {
    min-height: 200px;
}


/*newsletter*/
.newsletter {
    padding: 80px 0;
    background: #fff
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2
}

.content-tuned {
    font-size: 0.8rem;
    margin-bottom: 34px !important;
    color: $alwaysblue
}

h4 {
    color: $alwaysblue;
    margin-bottom: 6px
}

.form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius: 2px 0px 0px 2px
}

.form-control:focus {
    box-shadow: none !important;
    border: 2px solid #243c4f;
    border-color: none
}

.botao {
    min-height: 50px;
    border-radius: 0;
    background: #243c4f;
    color: #fff;
    font-weight: 300
}

.botao:hover {
    background: $alwaysblue;
    color: #fff
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0, 123, 255, .25) !important
}

.unsubscribe-link {
    text-decoration: none !important;
    font-size: 13px;
    color: $alwaysblue
}

.unsubscribe-link:hover {
    text-decoration: none !important;
    color: $cool-red
}







